* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    background: linear-gradient(#F1FAEE, #D8F3DC);
    color: #1B4332;
}

.pagina-interna {
    background:
        linear-gradient(rgba(241, 250, 238, 0.60)),
        url('../img/Fundo2.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}