* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    background: linear-gradient(#F1FAEE, #D8F3DC);
    color: #1B4332;
}