header {
    display: flex;
    align-items: center;
    padding: 22px 30px;
    background: #1B4332;
    color: white;
    border-radius: 25px;
    box-shadow: 8px 8px 0 #95D5B2;
}

header h1 {
    font-family: 'Fraunces', serif;
    font-size: 44px;
    color: #D8F3DC;
}