* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    background: linear-gradient(#F1FAEE, #D8F3DC);
    color: #1B4332;
}

header {
    display: flex;
    align-items: center;
    padding: 22px 30px;
    background: #1B4332;
    color: white;
    border-radius: 25px;
    box-shadow: 8px 8px 0 #95D5B2;
}

header h1 {
    font-family: 'Fraunces', serif;
    font-size: 44px;
     color: #D8F3DC;
}

.info {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;
}

.info dt {
    font-size: 14px;
    color: #B7E4C7;
    text-transform: uppercase;
}

.info dd {
    font-size: 20px;
    color: white;
}

.separador {
    border-left: 2px solid #74C69D;
    padding-left: 24px;
}

.apresentacao {
    display: flex;
    justify-content: center;
    margin-top: 125px;
    position: relative;
}

.apresentacao h2 {
    max-width: 1150px;
    font-family: 'Fraunces', serif;
    font-size: 90px;
    line-height: 1.4;
    text-align: center;
    color: #1B4332;
}

.workshops h2 {
    width: fit-content;
    margin: 100px auto 55px;
    padding: 14px 26px;
    border-radius: 50px;
    background: #D8F3DC;
    color: #1B4332;
    border: 2px solid #74C69D;
    font-family: 'Fraunces', serif;
    box-shadow: 6px 6px 0 #95D5B2;
}

.carousel-container {
    width: 100%;
    overflow: hidden;
    padding: 10px 0 30px;
}

.carousel-track {
    display: flex;
    gap: 25px;
}

.card {
    width: 390px;
    height: 250px;
    flex-shrink: 0;
    padding: 25px;
    border-radius: 20px;
    background: #FFFFFF;
    border: 2px solid #95D5B2;
    box-shadow: 8px 8px 0 #B7E4C7;
    transition: .3s;
    text-decoration: none;
    color: inherit;
}

.card:hover {
    transform: translateY(-10px);
    border-color: #40916C;
    box-shadow: 12px 12px 0 #74C69D;
}

.card:nth-child(1) {
    background: #FFFFFF;
}

.card:nth-child(2) {
    background: #E9F5DB;
}

.card:nth-child(3) {
    background: #B7E4C7;
}

.card:nth-child(4) {
    background: #DDEBF7;
}

.card:nth-child(5) {
    background: #E2F0CB;
}

.card img {
    width: 90px;
    height: 90px;
}

.card h3 {
    margin-top: 12px;
    font-family: 'Fraunces', serif;
    font-size: 29px;
    color: #2D6A4F;
}

.card p {
    margin-top: 8px;
    color: #31572C;
    line-height: 1.5;
}

footer {
    margin-top: 70px;
    padding: 20px;
    background: #1B4332;
    color: #D8F3DC;
    text-align: center;
    box-shadow: 10px 10px 0 #74C69D;
}

footer p {
    margin: 5px;
    font-size: 14px;
}

footer p:first-child {
    font-family: 'Fraunces', serif;
    font-size: 18px;
    color: #D8F3DC;
}