.apresentacao {
    display: flex;
    justify-content: center;
    margin-top: 125px;
    position: relative;
}

.apresentacao h2 {
    max-width: 1150px;
    font-family: 'Fraunces', serif;
    font-size: 90px;
    line-height: 1.4;
    text-align: center;
    color: #1B4332;
}