.info {
    display: flex;
    align-items: center;
    gap: 24px;
    margin-left: auto;
}

.info dt {
    font-size: 14px;
    color: #B7E4C7;
    text-transform: uppercase;
}

.info dd {
    font-size: 20px;
    color: white;
}

.separador {
    border-left: 2px solid #74C69D;
    padding-left: 24px;
}