.relatos {
    max-width: 1250px;
    margin: 0 auto 110px;
    padding: 45px 70px 50px;
    background: #E8F5E9;
    border-radius: 50px;
}


.citacao {
    max-width: 1050px;
    margin: 0 0 30px 65px;
    font-family: 'Fraunces', serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 1.15;
    color: #1B4332;
}

.autor {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 65px;
}

.autor img {
    width: 90px;
    height: 90px;
    object-fit: cover;

    border: 2px solid #95D5B2;
    border-radius: 14px;
}

.autor p {
    margin: 3px 0;
    font-family: 'IBM Plex Sans', sans-serif;
    color: #2D6A4F;
}

.autor p:first-child {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    color: #1B4332;
}

.autor p:last-child {
    font-size: 11px;
    color: #52796F;
}